version: '3.3'
services:
    influxdb:
        image: 'influxdb:1.8'
        container_name: influxdb
        restart: always
        environment:
          - INFLUXDB_DB=influx
          - INFLUXDB_ADMIN_USER=admin
          - INFLUXDB_ADMIN_PASSWORD=admin
        ports:
          - '8086:8086'
        volumes:
          - 'influxdb_data:/var/lib/influxdb'
